*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,400&display=swap');


body{

    background-color: black;
}

#rodape {
    color: white ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    

    
}
#AAA{

    width: 40%;
    

}   
.cor-rodape {
    flex-direction: column;
    justify-content: space-between; }

#itens{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  

}

#imagens {
    
    width: 100%; 
    
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;

}

a{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
}

a:link {
    color: rgba(255, 255, 255, 0.651);
 }

 a:hover {
    color: rgba(25, 219, 145, 0.76);
 
}

a{
    color: rgba(255, 255, 255, 0.651);

}

#verde{

    color: rgba(25, 219, 145, 0.76);
}

img{

   filter: grayscale(100%);
   transition: transform.2s;
   
}
img:hover{

    filter: grayscale(0);
    transform: scale(1.010);
 }

 